body{
    font-family: arial, helvetica;
    background: linear-gradient(rgb(255, 255, 255), #C2D6E0, #0e6a74);
    min-height: 100vh;
}

.menu{
    list-style: none;
    padding: 4;
    background: #C2D6E0;
    width: 100%;
    max-width: 1810px;
    margin: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.menu li a{
    text-decoration: none;
    color: gray;
    padding: 15px;
    display: block;
    font-size: large;
}

.menu li{
    display: inline-block;
    text-align: start;
}

.menu li a:hover{
    background: #228b7d;
    color: #ffffff;
}
.menu li b{
    text-decoration: double;
    color: #801515;
    padding: 15px;
    display: block;
    background-color: #C2D6E0;
    height: 41px;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li{
    display: inline-block;
    text-align: start;
}
.class{
    padding: 1;
    margin: auto;
    background-color: #0e6a74;
    width: 1810px;
    height: 15px;
    list-style: none;
}
.class li a{
    display: block;
    color: #ffffff;
    text-decoration: darkgrey;
    padding: 10px;
}
.class li{
    display: inline-block;
    text-align: center all;
}
.class li a :hover{
    background: gold;
    color: white;
}
.lol{
    padding: 1;
    margin: auto;
    background-color: #C2D6E0;
    width: 1810px;
    height: 75px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lol li a{
    display: block;
    color: #0e6a74;
    padding: 11px;
    font-size: medium;
}
.lol li{
    display: inline-block;
    text-align: center all;
}
.lol li a:hover{
    background: rgb(47, 88, 78);
    color: white;
}